#version: '3.8'

services:
  # Contenedor de Apache + PHP 8.2
  web:
    image: php:8.2-apache
    container_name: php-apache-dev
    ports:
      - "8080:80"
    volumes:
      - ./app:/var/www/html
      - ./config/apache.conf:/etc/apache2/sites-available/000-default.conf
    environment:
      - APACHE_DOCUMENT_ROOT=/var/www/html
    depends_on:
      - db
    networks:
      - dev-network
    command: >
      sh -c "apt-get update && apt-get install -y 
      libpq-dev && 
      docker-php-ext-install pdo pdo_pgsql && 
      apache2-foreground"

  # Contenedor de PostgreSQL 16
  db:
    image: postgres:16-alpine
    container_name: postgres-dev
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123456789
      POSTGRES_DB: formularios_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db:/docker-entrypoint-initdb.d
    networks:
      - dev-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

networks:
  dev-network:
    driver: bridge